anyio
argon2-cffi
async-generator==1.10
attrs
Babel
backcall
backports.functools-lru-cache==1.6.1
bleach
bokeh
brotlipy==0.7.0
certifi==2020.12.5
cffi
chardet
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
colorama
cryptography
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints
Fiona
geopandas==0.6.1
idna
importlib-metadata
ipykernel
ipython
ipython-genutils==0.2.0
jedi
Jinja2==2.11.2
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
munch==2.5.0
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
olefile
packaging
pandas
pandocfilters==1.4.2
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
pycosat
pycparser
Pygments
pyOpenSSL
pyparsing==2.4.7
pyproj==1.9.6
PyQt5-sip==4.19.18
pyrsistent
PySocks
python-dateutil==2.8.1
pytz
pywinpty
PyYAML==5.3.1
pyzmq
requests
Send2Trash==1.5.0
sip==4.19.13
six
sniffio
terminado
testpath==0.4.4
tornado
tqdm
traitletsk
typing-extensions
urllib3
wcwidth
webencodings==0.5.1
win-inet-pton
wincertstore==0.2
zipp
